.restaurant-image {
   width: 20vw;
}

span{
  font-size: 12px;
  text-align: justify;
}

.item{
  margin-bottom: 20px;
}
#share-button{
 position: absolute;
 right: 20px;
 top: 10px;
}
#share-button:hover{
  opacity: 0.5;
  filter: alpha(opacity=50);
}
