.header{
  height: 100%;
  display: flex;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding-top: 5px;
  padding-bottom: 10px;
}

.col-sm-2 img{
  height: 50px;
  margin: 5px 0 0 5px;
}
.col-sm-8 input{
  width: 100%;
  margin-top: 10px;
  display: block;
}

.col-sm-1{
  margin-top:15px;
}
.col-sm-2 a:hover, .col-sm-2 a:focus{
  text-decoration: none;
}
.create{
  font-size: 14px;
  margin-top: 20px;
  color:black;
  text-decoration: none;
  /*text-transform: capitalize;*/
  /*text-shadow: 0 0 1px rgba(0,0,0,0.3);*/
  /*font-size: 1.35em;*/
}


.create:hover{
  color: rgba(92, 137, 214, 1);

  text-decoration: none;
}
#logo{
  margin-left: 40px;
}

#headerSearchBar {
  margin-top: 15px;
}

.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
