.header{
  height: 100%;
  display: flex;
  margin-bottom: 20px;
  border-bottom: 3px solid rgba(0,0,0,0.2);
  padding: 10px;
}

.col-sm-2 img{
  height: 50px;
  margin: 5px 0 0 5px;
}
.col-sm-8 input{
  width: 100%;
  margin-top: 10px;
  display: block;
}

.col-sm-1{
  margin-top:15px;
}

.login {
  font-size: 14px;
}

.create {
  font-size: 14px;
}
