restTitle {
  border-bottom: 1px solid #DBDBDB;
  margin-bottom: 10px;
}

midSect {
  border-bottom: 1px solid #DBDBDB;
  margin-bottom: 10px;
}

notes {
  border-bottom: 1px solid #DBDBDB;
  margin-bottom: 10px;
}
